.form {
  display: flex;
  flex-direction: column;
}

.btnAndCounter {
  display:flex;
  justify-content: space-between;
  margin-top:10px;
}

.tweetbtn {
  font-family: 'Bungee', cursive;
  background-color: #4152a1;
  color: white;
  padding-left:15px;
  padding-right:15px;
}

#tweet-text {
  border-bottom: 5px;
  color: #555149;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid;
  outline: none;
  font-size: 20px;
}

.question {
  display:flex;
  justify-content: flex-start;
  font-weight: bold;
}